// -----------------------------------------------------------------------------
// This file contains all styles related to the body of the site/application.
// -----------------------------------------------------------------------------
//$breakpoints: ("small": 320px, "medium": 768px, "large": 1024px) !default

.box {
  @include mobile {
    @include grid(1, 2%);
    padding: 10px;
  }
  @include tablet {
    @include grid(2, 2%);
  }
}

.textbox {
  position: relative;
  background-color: lighten($blue, 10%);
  & a {
    text-align: center;
    display: block;
  }
  @include mobile {
    & p {
      padding: 15px;
    }
  }
  @include tablet {
    @include grid(1, 2%);
    & p {
      padding: 15px;
    }
  }
  @include desktop {
    width: 47%;
    height: 100%;
    float: right;
  }
}

.top{
  @include desktop {
    width: 50%;
    height: 100%;
    float: left;
    & .box{
      width: 100%;
      display: inline-block;
    }
  }
  & .box{
    width: 100%;
  }
}

.bottom {
  @include desktop {
    height: 100%;

    & .mixedbox{
      width: 50%;
      height: 50%;
      float: right;
      & a {
        display: none;
      }
      & p {
        font-size: 15px;
      }
      & i.material-icons {
        display: none;
      }
    }
  }
}

.last {
  @include desktop {
    width: 47%;
    height: 100%;
    float: left;
  }
}

.row1, .row2 {
  @include desktop {
    overflow: hidden;
    height: 23em;
    margin-bottom: 20px;
  }
}
