// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav ul {
  & li {
    display: inline;
  }
}

header {
  font-size: 20px;
  text-align: center;
  color: $pink;
  @include tablet {
    font-size: 40px;
  }
  @include desktop {
    font-size: 60px;
  }
}
