// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav ul {
  & li {
    display: inline;
  }
}

header {
  font-size: 60px;
  color: $pink;
}
