

.illustration {
  @include mQ($medium, $small){
    width: 20%;
    position: absolute;
    &.left {
      left: -1%;
      bottom: 66%;
    }
    &.right {
      left: 78%;
      top: 70%;
    }
  }
}
