img {
  width: 100%;
}

.illustration {
  position: absolute;
  @include mobile {
    width: 20%;
    &.left {
      left: -1%;
      bottom: 66%;
    }
    &.right {
      left: 78%;
      top: 70%;
    }
  }
  @include tablet {
    width: 13%;
    &.left {
      left: 0%;
      bottom: 68%;
    }
    &.right {
      left: 86%;
      top: 70%;
    }
  }
  @include desktop {
    width: 13%;
    &.left {
      left: 0%;
      bottom: 68%;
    }
    &.right {
      left: 86%;
      top: 70%;
    }
  }
}

.display-photo {
  width: 100%;
  height: 300px;
  @include desktop {
    overflow: hidden;
    height: 160px;
  }
}

#veg {
  background-image: url("../img/veg2.jpg");
  @include topper;
}

#pie {
  background-image: url("../img/rocotta-pie.png");
  @include topper;
}

.topper {
  width: 100%;
  @include mobile {
    height: 200px;
  }
  @include tablet{
    height: 300px;
  }
  @include desktop{
    height: 166px;
    width: 40%;
    float: left;
    margin-right: 15px;
  }
}

#sando {
  background-image: url("../img/hoagie.jpg");
  @include topper;
}

#beets {
  background-image: url("../img/beets.png");
  @include topper;
}
