img {
  width: 100%;
}

.illustration {
  position: absolute;
  @include mQ($medium, $small){
    width: 20%;
    &.left {
      left: -1%;
      bottom: 66%;
    }
    &.right {
      left: 78%;
      top: 70%;
    }
  }
  @include mQ($large, $medium){
    width: 13%;
    &.left {
      left: 0%;
      bottom: 68%;
    }
    &.right {
      left: 86%;
      top: 70%;
    }
  }
}

.display-photo {
  width: 100%;
  height: 300px;
}

#veg {
  background-image: url("../img/veg2.jpg");
  @include topper;
}

#pie {
  background-image: url("../img/rocotta-pie.png");
  @include topper;
}

.topper {
  @include mQ($medium, $small) {
    width: 100%;
    height: 200px;
  }
}

#sando {
  background-image: url("../img/hoagie.jpg");
  @include topper;
}

#beets {
  background-image: url("../img/beets.png");
  @include topper;
}
