.text-white {
  color: #FFF; }

.bg-white {
  color: #FFF; }

.text-black {
  color: #000; }

.bg-black {
  color: #000; }

.text-gray {
  color: #D6CBC1; }

.bg-gray {
  color: #D6CBC1; }

.text-pink {
  color: #D6A99A; }

.bg-pink {
  color: #D6A99A; }

.text-blue {
  color: #CDD6D0; }

.bg-blue {
  color: #CDD6D0; }

.text-peach {
  color: #E0592C; }

.bg-peach {
  color: #E0592C; }

.text-red {
  color: #E3170A; }

.bg-red {
  color: #E3170A; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, a, footer {
  font-family: 'Roboto', sans-serif; }

.textbox, .mixedbox {
  font-family: 'Open Sans', sans-serif; }

h2 {
  color: #95a89b;
  text-align: center;
  font-size: 25px;
  line-height: 1; }
  @media (min-width: 768px) and (max-width: 1023px) {
    h2 {
      font-size: 35px; } }

.box a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #E0592C; }

.mixedbox h2 {
  color: #E0592C; }

nav ul li {
  display: inline; }

header {
  font-size: 20px;
  text-align: center;
  color: #D6A99A; }
  @media (min-width: 768px) and (max-width: 1023px) {
    header {
      font-size: 40px; } }
  @media (min-width: 1024px) {
    header {
      font-size: 60px; } }

@media (max-width: 767px) {
  .box {
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 100%;
    padding: 10px; }
    .box:nth-child(1n) {
      margin-right: 0; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .box {
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 49%; }
    .box:nth-child(2n) {
      margin-right: 0; } }

.textbox {
  position: relative;
  background-color: #e9edea; }
  .textbox a {
    text-align: center;
    display: block; }
  @media (max-width: 767px) {
    .textbox p {
      padding: 15px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .textbox {
      float: left;
      margin-right: 2%;
      margin-bottom: 2%;
      width: 100%; }
      .textbox:nth-child(1n) {
        margin-right: 0; }
      .textbox p {
        padding: 15px; } }
  @media (min-width: 1024px) {
    .textbox {
      width: 47%;
      height: 100%;
      float: right; }
      .textbox p {
        padding: 32px;
        font-size: 18px; }
      .textbox h2 {
        font-size: 35px; }
      .textbox a {
        font-size: 20px; } }

@media (min-width: 1024px) {
  .top {
    width: 50%;
    height: 100%;
    float: left; }
    .top .box {
      width: 100%;
      display: inline-block; } }
.top .box {
  width: 100%; }

@media (min-width: 1024px) {
  .bottom {
    height: 100%; }
    .bottom .mixedbox {
      width: 50%;
      height: 50%;
      float: right; }
      .bottom .mixedbox a {
        display: none; }
      .bottom .mixedbox p {
        font-size: 15px; }
      .bottom .mixedbox i.material-icons {
        display: none; } }

@media (min-width: 1024px) {
  .last {
    width: 47%;
    height: 100%;
    float: left; } }

@media (min-width: 1024px) {
  .row1, .row2 {
    overflow: visible;
    height: 23em;
    margin-bottom: 20px; } }

i.material-icons {
  float: right; }

img {
  width: 100%; }

.illustration {
  position: absolute; }
  @media (max-width: 767px) {
    .illustration {
      width: 20%; }
      .illustration.left {
        left: -1%;
        bottom: 66%; }
      .illustration.right {
        left: 78%;
        top: 70%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .illustration {
      width: 13%; }
      .illustration.left {
        left: 0%;
        bottom: 68%; }
      .illustration.right {
        left: 86%;
        top: 70%; } }
  @media (min-width: 1024px) {
    .illustration {
      width: 20%; }
      .illustration.left {
        left: -3%;
        bottom: 82%; }
      .illustration.right {
        left: 81%;
        top: 79%; } }

.display-photo {
  width: 100%;
  height: 300px; }
  @media (min-width: 1024px) {
    .display-photo {
      overflow: hidden;
      height: 160px; } }

#veg {
  background-image: url("../img/veg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

#pie {
  background-image: url("../img/rocotta-pie.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.topper {
  width: 100%; }
  @media (max-width: 767px) {
    .topper {
      height: 200px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .topper {
      height: 300px; } }
  @media (min-width: 1024px) {
    .topper {
      height: 166px;
      width: 40%;
      float: left;
      margin-right: 15px; } }

#sando {
  background-image: url("../img/hoagie.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

#beets {
  background-image: url("../img/beets.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/*# sourceMappingURL=styles.css.map */
