// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------

// COLOR LOOP
$colors : (
'white': #FFF,
'black': #000,
'gray': $gray,
'pink': $pink,
'blue': $blue,
'peach': $peach,
'red': $red
);


@each $color, $hex in $colors {
  .text-#{$color} {
    color: $hex;
  }
  .bg-#{$color} {
    color: $hex;
  }
}
