// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//Media Query//
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;

//Colors//

$gray: #D6CBC1;
$blue: #CDD6D0;
$pink: #D6A99A;
$peach: #E0592C;
$red: #E3170A;
