// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//Media Query//
$small: 320px;
$medium: 768px;
$large: 1024px;
