// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//Media Query//
$small: 320px;
$medium: 768px;
$large: 1024px;

//Colors//

$gray: #D6CBC1;
$blue: #CDD6D0;
$pink: #D6A99A;
$peach: #E0592C;
$red: #E3170A;
